<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>add product form</h2>
    <form method="POST" action="/products/add">
        <p><input type="text" name="name" placeholder="productname" required /></p>
        <p><input type="text" name="desc" placeholder="productdescription" required /></p>
        <p><input type="number" name="price" placeholder="productprice" required /></p>
        <p><input type="text" name="imageUrl" placeholder="productimageurl" /></p>
        <p><button type="submit">submit</button></p>
    </form>
</body>
</html>